<% include ../layout.ejs %>
<div class="main-container">
    <div class="full-page">
        <div class="area my-profile">
            <div class="title">My Profile</div>
            <div class="message">
                <img class="profileImg img-circle" src="" />
                <ul class="list-none">
                    <li><span><i class="fa fa fa-pencil"> <span class="value"><%= student.name %></span></i></span></li>
                    <li><span><i class="fa fa-lg fa-mobile"><span class="value"><%= student.mobile_number %></i></span></li>
                    <li><span><i class="fa fa-lg fa-home"><span class="value">mumbai</span></i></span></li>
                    <li><span><i class="fa fa-lg fa-calendar-times-o"></i><span class="value">15 -08-1990</span></span></li>
                    <li><span><i class="fa fa-lg fa-mercury"></i><span class="value"><%= student.email_id %></span></span></li>
                </ul>
            </div>
        </div>
        <div class="area newsfeed">
            <form class="form " name="post-form" action="/postSave" method="post">
                <div class="post-form"><label>Post</label><textarea name="post"></textarea></div>                                       
            <div class="actions">
                <p class="options"><span>Photo</span><i class="fa fa-lg fa-camera-retro"></i></p>
                <button class="btn" type="submit">Post</button>
             </div>
             </form>
             <% if(student.posts.length > 0 )  { %>
             <div class="post-feed">
             <%  student.posts .forEach(function( data ) { %>
             <div class="post-wrapper">
                <div class="header">
                    <span class="image"><img src="" alt="image"/> </span><span class="name"><%=  %></span>                 
                </div>
                <div class="message">
                        <%= data.post %>
                </div>
             </div>
             <% })  %>
             </div>
             <% } %>
        </div>
        <div class="area chatbox">
            <div class="title">Online Users</div>
            <div class="list">
                <ul>
                    <li>Nck</li>
                    <li>Nck</li>
                    <li>Nck</li>
                    <li>Nck</li>
                    <li>Nck</li>
                </ul>
            </div>
        </div>
    </div>
</div>